<%layout('layout/page') -%>
<% block("title", "Hello") -%>
<%if (user) {%>
<% block("main", "Hello, " + user.get("username")) -%>
<%}%>
<% block("scripts", "<script src='/socket.io/socket.io.js'></script>" +
                    "<script src='js/clientLogout.js'></script>" +
                    "<script src='js/clientChat.js'></script>")%>

<div id="room">
    <ul></ul>
    <form>
        <input class="form-control" autocomplete="off" autofocus placeholder="Message">
    </form>
</div>