<%layout('layout/page') -%>
<% block("title", "Hello") -%>
<% block("main", "Hello") -%>

<% block("scripts", "<script src='/vendor/bower_components/socket.io-client/socket.io.js'></script>" +
        "<script src='js/clientLogout.js'></script>")%>

<p class="lead">Hello, everyone</p>